<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you</string>
	<key>GIDClientID</key>
	<string>402702484144-irabrlvkuhaooomhhha3g9taipc4fna2.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>402702484144-ujlck87g7poghrgr16p4r54ev69h62m1.apps.googleusercontent.com</string>
	<key>FacebookAppID</key>
	<string>609903515015289</string>
	<key>FacebookDisplayName</key>
	<string>PingExample</string>
	<key>FacebookClientToken</key>
	<string>c9397d567f462a6395825b9ef157aa43</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.402702484144-irabrlvkuhaooomhhha3g9taipc4fna2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb609903515015289</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
