name: Build and Test

on:
  workflow_call:
    secrets:
      SLACK_WEBHOOK:
        description: 'Slack Notifier Webhook'
        required: true
jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40

    env:
      # XCODE_VERSION: 26.0.1
      # SIM_DEVICE_NAME: iPhone 16
      # SIM_OS_VERSION: 18.6
      XCODE_VERSION: ${{ vars.XCODE_VERSION }}
      SIM_DEVICE_NAME: ${{ vars.SIM_DEVICE_NAME }}
      SIM_OS_VERSION: ${{ vars.SIM_OS_VERSION }}

    steps:
      # Clone the repo
      - name: Clone the repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          fetch-depth: 0

      # Get the architecture of the chip
      - name: Check chip architecture 
        run: echo "CHIP_TYPE=$(uname -m)" >> $GITHUB_ENV    

      # Set target Xcode version. For more details and options see:
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_$XCODE_VERSION.app && /usr/bin/xcodebuild -version
        
      # Run all tests
      - name: Run tests
        run: |
          DEST="platform=iOS Simulator,name=${SIM_DEVICE_NAME},OS=${SIM_OS_VERSION}"
          echo "Running tests on $DEST"

          xcodebuild test \
          -scheme PingTestHost \
          -workspace SampleApps/Ping.xcworkspace \
          -configuration Debug \
          -destination "$DEST" \
          -derivedDataPath DerivedData \
          -enableCodeCoverage YES \
          -resultBundlePath TestResults \
          -maximum-parallel-testing-workers 2 
          
      # Force stop test host
      - name: Force stop test host (avoid hangs)
        if: failure() || success()  # always run
        run: |
          killall -9 PingTestHost 2>/dev/null || true

      # Upload .xcresult bundle
      - name: Upload .xcresult bundle as artifact
        uses: actions/upload-artifact@v4
        if: always()            # Upload even if build/test fails
        with:
          name: TestResults
          path: TestResults.xcresult
          
      # # Install xcresultparser
      # - name: Install xcresultparser
      #   run: |
      #     curl -L https://github.com/a7ex/xcresultparser/releases/latest/download/xcresultparser-macos-arm64.zip -o parser.zip
      #     unzip parser.zip -d xcparser
      #     sudo mv xcparser/xcresultparser /usr/local/bin/xcresultparser
      #     sudo chmod +x /usr/local/bin/xcresultparser

      # # Parse and generate JUnit results
      # - name: Convert xcresult to JUnit
      #   run: |
      #     xcresultparser -o junit TestResults.xcresult > TestResults.xml

      # # Publish JUnit test report to GitHub summary
      # - name: Publish test results to GitHub summary
      #   uses: dorny/test-reporter@v1
      #   if: success() || failure()
      #   with:
      #     name: Tests Results
      #     path: TestResults.xml
      #     reporter: java-junit

      # # Publish test results
      # - name: Publish test results
      #   uses: slidoapp/xcresulttool@v3.1.0
      #   with:
      #     title: "Test Results ${{ matrix.os }} - ${{ env.CHIP_TYPE }}"
      #     path: TestResults.xcresult
      #     show-passed-tests: false
      #     upload-bundles: never
      #   if: success() || failure()
 
      # Send slack notification with result status
      - uses: 8398a7/action-slack@v3
        with:
          mention: 'stoyan.petrov'
          if_mention: 'failure,cancelled'
          fields: repo,author,eventName,message,job,pullRequest,took
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        if: always()